.root {

}

.section {
	margin-bottom: 2.4rem;
	
	&:last-child {
		margin-bottom: 0;
	}
}

.section__title {
	display: block;
	margin-bottom: .8rem;
	font-size: 1.6rem;
}

.field {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 1.2rem;
	padding: .8rem 2.4rem;
	background-color: var(--color-second);
	height: 5rem;
	margin-bottom: 1.2rem;
	gap: .8rem;
	
	&:last-child {
		margin-bottom: 0;
	}
}

.range {
	cursor: grab;
	margin: 0;
	width: 100%;
	display: block;
	-webkit-appearance: none;
	appearance: none;
	background: rgba(0, 0, 0, 0);
	
	&::-webkit-slider-runnable-track {
		background: rgba(255, 255, 255, 0.2);
		height: .4rem;
		border-radius: 99.9rem;
	}
	
	&::-moz-range-track {
		background: rgba(255, 255, 255, 0.2);
		height: .4rem;
		border-radius: 99.9rem;
	}
	
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		height: 2rem;
		width: 2rem;
		border-radius: 50%;
		margin-top: calc(.2rem - 2rem / 2);
		background: var(--color-dark);
	}
	
	&::-moz-range-thumb {
		border: none;
		height: 2rem;
		width: 2rem;
		border-radius: 50%;
		margin-top: calc(.2rem - 2rem / 2);
		background: var(--color-dark);
	}
}

.label {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	cursor: pointer;
}

.checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.checkbox:checked ~ .customCheckbox {
	background-color: var(--color-white);
	box-shadow: 0 0 .8rem 0 rgba(255, 255, 255, 0.25);
	
	span {
		left: 2.5rem;
	}
}

.customCheckbox {
	border-radius: 99.9rem;
	height: 3rem;
	width: 5rem;
	background-color: rgba(255, 255, 255, 0.2);
	position: relative;
	transition: .3s;
	
	span {
		position: absolute;
		background: var(--color-dark);
		height: 2rem;
		width: 2rem;
		border-radius: 50%;
		left: .5rem;
		top: 50%;
		transform: translate(0, -50%);
		transition: all .3s;
	}
}

.generate__btn {
	border: 0;
	background-color: var(--color-second);
	border-radius: 1.2rem;
	cursor: pointer;
	font: inherit;
	display: block;
	margin: 4rem auto 0;
	padding: 1.6rem 5.6rem;
	font-weight: 500;
	color: inherit;
	font-size: 2.4rem;
}